/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: rgb(48,70,182);
    background: radial-gradient(circle, rgba(48,70,182,1) 23%, rgba(5,4,34,1) 100%);
    text-align: center;
    background-image: url('ecran.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

  }
#autoClickerImg img {
    width: 30px; /* Modifiez cette valeur selon vos besoins */
    height: auto; /* Vous pouvez également ajuster la hauteur en fonction de la largeur */
}
#titre-container {
  position: relative; /* Permet de positionner l'image superposée par rapport à ce conteneur */
}

.image-superposee {
  position: absolute;
  top: 59%;
  left: 735px;
  transform: translate(-50%, -50%);
  z-index: -5;
  width: 500px; /* Remplacez la valeur par celle que vous souhaitez */
  height: 150px; /* Remplacez la valeur par celle que vous souhaitez */
}

#titre {
  z-index: 2; /* Pour que le titre apparaisse au-dessus de l'image */
  color:wheat;
  margin-top: 50px;
}
main {
  border: 3px solid black;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  height: 500px;
  background-image: url('fond.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}
#boutique {
  margin-left: 0%;
  text-align: center;
  margin-top: -350px;
  width: 280px; /* Remplacez la valeur par celle que vous souhaitez */
  height: 400px;

}
.image_boutique{
  z-index: -100;


}
#boutique button {
  display: flex;
  padding: 5px 20px;
  margin-left: 50px;
  margin-top: -85px ;
  margin-bottom: 5px;
  font-size: 16px;
  color: rgb(230, 214, 214);
  z-index: 10;

}
#clicker {
  margin-top: 2%;
  margin-left: 35%;
  margin-right: 35%;
}
#clicker p{
  color: rgb(186, 165, 165);
}
.image_fusee{
  width: 300px; /* Remplacez la valeur par celle que vous so  uhaitez */
  height: 300px;
}
#guide{
    margin-left: 65%;
    text-align: center;
    margin-top: -450px;
    width: 390px; /* Remplacez la valeur par celle que vous souhaitez */
    height: 450px
}
.image_guide{
    width: 400px; /* Remplacez la valeur par celle que vous souhaitez */
  height: 200px;


}
#guide p{
  color:white;
  text-align: center;
  padding: 1px 50px;

  font-size: 23px;

}
#info p{
  color:white;
  text-align: center;
  font-size: 50px;

}
#achat_objectif {
  color: aliceblue;
  position: fixed; /* Positionnement fixe par rapport à la fenêtre du navigateur */
  top: 65%; /* Alignement vertical au milieu de la fenêtre */
  left: 75%; /* Alignement horizontal au milieu de la fenêtre */
  transform: translate(-50%, -50%); /* Décalage de moitié de la largeur et de la hauteur pour centrer l'élément */
  padding: 10px; /* Espacement intérieur */

}
#achat_objectif p{
  color:white;
  text-align: center;
  font-size: 15px;

}
#achat_objectif .ressource {
  display: flex; /* Affiche les éléments en ligne */
  align-items: center; /* Centre verticalement les éléments */
}

.icone-ressource {
  width: 32px; /* Largeur de l'icône */
  height: 32px; /* Hauteur de l'icône */
  cursor: pointer; /* Curseur pointer pour indiquer qu'il s'agit d'un élément cliquable */
  margin-left: 10px; /* Espacement à gauche pour séparer l'image du texte */
}
